<!-- <div>
     First Name:- <input type="text" ng-model="user.username"><br>
     Last Name:-<input type="text" ng-model="user.password"><br>
     Username:-<input type="text" ng-model="user.password"><br>
     Password:-<input type="text" ng-model="user.password"><br>  
        <button ng-click="submit()">Register</button>
        <button ng-click="submit()">Cancel</button>
        
</div> -->
<!-- <%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%> -->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<title>Course Game</title>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" 	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<br><br>
<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading" >
			    		<h3 class="panel-title">Sign Up...</h3>
			 			</div>
			 			<div class="panel-body">
			    		<div role="form">
			    			
			    			<div class="form-group">
			    				<input type="text" name="Name" id="fname" class="form-control input-sm" placeholder="Firstname" 
			    				ng-model="faculty.fname">
			    			</div>

                <div class="form-group">
                  <input type="text" name="Name" id="fname" class="form-control input-sm" placeholder="Lastname" 
                  ng-model="faculty.lname">
                </div>

                <input type="hidden" id="utype" value="faculty" ng-model="faculty.usertype">

			    			<div class="form-group">
			    				<input type="email" name="email" id="email" class="form-control input-sm" placeholder="Email Address" ng-model="faculty.mail">
			    			</div>

			    			
			    					<div class="form-group">
			    						<input type="password" name="password" id="password" class="form-control input-sm" placeholder="Password" ng-model="faculty.password">
			    					</div>

                    <div class="form-group">
						<input type="text" id="UserMobile" maxlength="14" data-fv-numeric="true" data-fv-numeric-message="Please enter valid phone numbers" data-fv-phone-country11="IN" required="required" data-fv-notempty-message="This field cannot be left blank." placeholder="Contact No. " class="form-control" name="data[User][mobile]" data-fv-field="data[User][mobile]">
                    </div>

                    <div class="form-group">
                      <input type="text" name="city" id="city" class="form-control input-sm" placeholder="City" ng-model="faculty.city">
                    </div>
			    	
                    <div class="form-group">
                      <input type="text" name="country" id="country" class="form-control input-sm" placeholder="Country" ng-model="faculty.country">
                    </div>
                		
            
            </div>
							
							</div>
							<input type="submit" value="Register" class="btn btn-info btn-block" ng-click="submit()">
			    		
			    		</form>
			    </div>
          </div>
          </div>
          </div>

</body>
</html>