 
 <!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Course Game</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- <link rel="stylesheet" href="./css/bootstrap.css" media="screen"> -->

<body>
<form id="courseForm" method="post" name= "courseForm">
	<div class="page-header" id="banner"
			style="border-bottom: 0px solid #eee;">

			<!-- Navbar -->
			<div class="bs-docs-section clearfix"></div>
			<div class="container">

				<div id="loginbox"
					class="mainbox col-md-5 col-md-offset-3 col-sm-6 col-sm-offset-3">


					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="panel-title text-center">Login</div>
						</div>

						<div class="panel-body">

							<!-- <form name="form" id="form" class="form-horizontal"
								enctype="multipart/form-data" method="POST"> -->
							<div class="form-horizontal">
								<div class="form-group" ng-class="{ 'has-error': form.courseName.$dirty && form.courseName.$error.required }">
					           <!--  <label for="username">First name</label> -->
					        	<input type="text" name="courseName" id="courseName" class="form-control" placeholder="Course Name" ng-model="cs.name" required />
					            <!-- <span ng-show="form.courseName.$dirty && form.courseName.$error.required" class="help-block">Course Name is required</span> -->
					        
					        </div>

					        <input type="hidden" name="status" id="status" value="true" ng-model="cs.isActive">


					         <div class="form-group" ng-class="{ 'has-error': form.coursedesc.$dirty && form.coursedesc.$error.required }">
					           
					            <textarea name="coursedesc" id="coursedesc" class="form-control" placeholder="Course Description" ng-model="cs.desc">
					            </textarea>
					       <!--      <span ng-show="form.courseName.$dirty && form.courseName.$error.required" class="help-block">Course Name is required</span> -->
					        </div>

					        <label class="checkbox">MSCIT
							   <input type="checkbox" ng-model="cs.pr.MSCIT.checked" ng-checked="cs.pr.checked" value="MSCIT">
							</label>

							<label class="checkbox">SEM 1
							   <input type="checkbox" ng-model="cs.pr.MSCIT.M1.checked" ng-checked="cs.pr.M1.checked" value="1">
							</label>
							<label class="checkbox">SEM 2
							   <input type="checkbox" ng-model="cs.pr.MSCIT.M2.checked" ng-checked="cs.pr.M2.checked">
							</label>
							<label class="checkbox">SEM 3
							   <input type="checkbox" ng-model="cs.pr.MSCIT.M3.checked" ng-checked="cs.pr.M3.checked">
							</label>

							<label class="checkbox">BTECH
							   <input type="checkbox" ng-model="cs.pr.BTECH.checked" ng-checked="cs.pr.checked" value="MSCIT">
							</label>

							<label class="checkbox">SEM 1
							   <input type="checkbox" ng-model="cs.pr.BTECH.B1.checked" ng-checked="cs.pr.M1.checked" value="1">
							</label>
									
							<div class="form-group" style="margin-bottom: 0px;">
								<!-- Button -->
									<button type="submit" class="btn btn-primary pull-right" style="margin-right: 15px;" ng-click="addcourse()" ng-disabled="loginform.$invalid">
										<i class="glyphicon glyphicon-log-in"  ></i> Log in
									</button>
									 <p id="demo">
								</div>
							</div>
							</div>
							<!-- </form> -->
					</div>
					</div>
				</div>
			</div>
			

	</form>
	
</body>
</html>