<!DOCTYPE html>
<html>
<head>
	<title>Unit Management</title>
	<link rel="stylesheet" type="text/css" href="css\style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body ng-app="">
		<header>UNIT MANAGEMENT</header>

		<form id="myForm" name="myForm">
			<p class="sp">Unit Name &nbsp&nbsp&nbsp: <input type="text" name="unit" ng-model="unit" required></input>
			<span style="color:black" ng-show="myForm.unit.$dirty && myForm.unit.$invalid">
			<span ng-show="myForm.unit.$error.required">Unit name is required.</span>
			</p>
			<p class="sp">Description &nbsp: </p><textarea rows="4" cols="50" id="mar"></textarea>
			<p class="sp">Start Time &nbsp&nbsp&nbsp: <input type="number" name="start" ng-model="start" min="0" max="99" required></input>
			<span style="color:black" ng-show="myForm.start.$dirty && myForm.start.$invalid">
			<span ng-show="myForm.start.$error.required">Start time cannot be left blank.</span>
			</p>
			<p class="sp">End Time &nbsp&nbsp&nbsp&nbsp&nbsp: <input type="number" name="end" ng-model="end" min="0" max="99" required></input>
			<span style="color:black" ng-show="myForm.end.$dirty && myForm.end.$invalid">
			<span ng-show="myForm.end.$error.required">End time cannot be left blank.</span>
			</p>
			<p class="sp">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input id="message" type="submit" value="Go!"></input></p>
		</form>
</body>
</html>